@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html * {
    font-family: "Plus Jakarta Sans", sans-serif;   
}

/* Navbar */
ul {
    list-style-type: none;
    background-color: #43936C;
}

.link-nav {
    text-decoration: none;
    color: #ffff;
    transition: 0.3s ease;
}

.link-nav-text {
    text-decoration: none;
    color: #ffff;
    transition: 0.3s ease;
}

.link-nav-text:hover {
    color: #C0DBCE;
    transition: 0.3s ease;
}

.link-nav-text:active {
    transform: scale(0.92);
    transition: 0.3s ease;
}

.link-nav-text:focus {
    transform: scale(0.5);
    transition: 0.3s ease;
}

.sticky-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    right: 50%;
    left: 50%;
}

.fw-sm {
    font-weight: 200;
}

.fw-df {
    font-weight: 400;
}

.fw-md {
    font-weight: 500;
}

.fw-lg {
    font-weight: 600;
}

.fw-xl {
    font-weight: 700;
}

.ellipse-left {
    position: absolute;
    right: 0;
    z-index: -1;
}

.ellipse-center {
    position: absolute;
    z-index: -1;
}

.ellipse-right {
    position: absolute;
    left: 0;
    z-index: -1;

}

.vl {
    border: 1px solid rgb(255, 255, 255);
    height: 110px;
  }


.login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgbx{
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
}

section .contentbx {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 28%;
    width: 100%;
    height: 100%;
    position:absolute;
}

section .contentbx .formbx {
    width: 80%;
}

section .contentbx .formbx h2 {
    color: #214936;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;

}

section .contentbx .formbx .inputbx {
    margin-bottom: 10px;

}

.forgot a {
    font-size: 14px;
    color: #214936;
    
}

.inputbx a{
    color: #214936;
}

section .contentbx .formbx .continue p{
    padding-left: 42%;
}

section .contentbx .formbx .inputbx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #214936;
    font-weight: 500;
}

section .contentbx .formbx .agree{
    font-weight: 400;
    font-size: 14px;
}

section .contentbx .formbx .inputbx input{
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid black;
    outline: none;
    border: none;
} 

section .contentbx .formbx .inputbx input[type="submit"]{
    background: #43936C;
    color: #fff;
    outline: none;
    border: none;
    font-weight: medium;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
}

section .contentbx .formbx .inputbx input[type="submit"]:hover{
    background: #347153;
}

.inputbx .btn{
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #214936;
}


.btn img{
    width: 40px;
    height: 40px;
}

.inputbx p{
    margin-top: 15px;
    padding-left: 30%;
}




